body{
    background-color: #012d36;
    color: #012d36;
}
body .btn .btn-primary .btn-lg disabled{   
    position: absolute;
    margin-top: 10px;    
}
h3{
  color: whitesmoke;
  margin-left: 600px;
}

.btn {
    margin-left: 20px;
    margin-bottom: 50px;
}