<footer id="footer"> 
    <h5>CONTACTO</h5>
    <div id="redessociales">        
        <div class="social" >
            <div class=twiter>
                <a href="#" class="iconfooter">t</a>
                <p class="overlay">
                    Twiter
                </p>
            </div>

            <div class="social">
                <a href="#" class="iconfooter">f</a>
                <p class="overlay">
                    facebook
                </p>
            </div>

            <div class="social">
                <a href="#" class="iconfooter">y</a>
                <p class="overlay">
                    Youtube
                </p>
            </div>
            <div class="social">
                <a href="#" class="iconfooter">e</a>
                <p class="overlay">
                    instagram
                </p>
            </div>
        </div>
</footer>        