<nav id="menu">
    <a href="/"><img src="css/img/logo.png" alt="logo" id="logo"></a>
    <ul id="listanav">
        <li><a href="/">INICIO</a></li>
        <li><a href="/peliculas">PELICULAS</a></li>
        <li><a href="/series">SERIES</a></li>
        <li><a href="/animes">ANIMES</a></li>
        <li><a href="/lista_deseos">LISTA DE DESEOS</a></li>
    </ul>
</nav>