<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">    
    <title> <%=title%></title>
     <%-include ("./partials/head") %> 
     
</head>
<body>
<header>
    <%-include ("./partials/navigation") %>
</header>    
    <div id="titulos">
        <h2>TUS DESEOS SON ORDENES </h2>
    </div> 

    <section id="contenedor">        
        
    </section>

    <%-include ("./partials/footer") %>    
</body> 
</html>