<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">    
    <title> <%=title%></title>
     <%-include ("./partials/head") %>     
     <script type="text/javascript" src="js/scriptspeliculas.js"></script>       
</head>
<body>
<header> 
    <%-include ("./partials/navigation") %>
</header>    
    <div id="titulos">
        <h2>PELICULAS EN AUDIO LATINO</h2><p>_</p>        
    </div>  
    <section id="contenedor">        
        
    </section>

    <%-include ("./partials/footer") %>    
    
</body> 
</html>